<div class="article-container">
  <div class="article-layout">

  <% if @tile.nil? %>
    <h1 class="subheader">Content coming soon ...</h1>
      <%=link_to 'Back to all tiles', subtopic_tiles_path(@tile.subtopic_id), class:"animated-border-button"%>
    <% else %>

<div id="topinfo">
      <h1 class="subheader"><%= @tile.subtopic.topic.title  %>: <%= @tile.subtopic.title  %></h1>
        <%=link_to 'Back to all tiles', subtopic_tiles_path(@tile.subtopic_id), class:"animated-border-button"%>
</div>
      <% if @tile.photos.attached? %>
        <%= cl_image_tag @tile.photos[0].key, class:"show-card-image" %>
        <%# <div class="articlebox1"></div> %>
      <% elsif @tile.picture_url %>
        <%= image_tag @tile.picture_url, class:"show-card-image" %>
      <% end %>

  <div class="text-div">
          <h1 id="art-title"> <%= @tile.title %> </h1>
          <br>
          <h5 id="art-summ"><%= @tile.summary %></h5>
          <br>
          <p id="art-cont"><%= @tile.content %></p>
    </div>
        <% if @subscription.nil? %>
          <%=link_to 'Subscribe', tile_subscriptions_path(@tile), method: :post, class:"subscribe-btn"%>
        <% else %>
          <%= link_to "Unsubscribe", subscription_path(@subscription), method: :delete, data: { confirm: "Click OK to unsubscribe and pick a new topic for your feed!" }, class: "subscribe-btn" %>
        <% end %>
   <% end %>

<div class="suggestions">
  <%# <h2 id="suggest">here are more suggestions</h2> %>
  <% @tiles.each_with_index do |tile, index| %>
    <% if index == 3 %>
      <% break %>
    <% elsif tile == @tile %>
      <% next %>
    <% else %>
      <% if tile.photos.attached? %>
        <%# <div class="articlebox1"></div> %>
        <div class="card-img articleTopicsCard" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= cl_image_path tile.photos[0].key%>);">
      <% elsif tile.picture_url %>
        <div class="card-img articleTopicsCard" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= image_path tile.picture_url%>);">
      <% end %>
    <% end %>
    <h2><%= link_to tile.title, tile_path(tile) %></h2>
    </div>
  <% end %>
</div>

   </div>
</div>
</div>
