<div class="container-tiles-page">
  <div class="container-tile-title row">
    <div class="col-6">
      <h1 class="subheader"><%= @tile.subtopic.topic.title  %>: <%= @tile.subtopic.title  %></h1>
    </div>
    <div class="col-6 buttons">
      <%=link_to 'Back to all tiles', subtopic_tiles_path(@tile.subtopic_id), class:"btn btn-success subtopic-btn"%>
    </div>
  </div>
  <div class="container-tile-card col-12">
    <div class="col-6 tile-card-col">
      <%= cl_image_tag @tile.photos[0].key, class:"show-card-image" %>
    </div>
    <div class="col-6 tile-card-col">
      <h1> <%= @tile.title %> </h1>

      <h3><%= @tile.summary %></h3>
      <h3><%= @tile.content %></h3>
      <%=link_to 'Subscribe', tile_subscriptions_path(@tile), method: :post%>
    </div>
  </div>
  </div>
</div>
