<div class="article-container">
  <div class="article-layout">

  <% if @tile.nil? %>
    <h1 class="subheader">Content coming soon ...</h1>
      <%=link_to 'Back to all tiles', subtopic_tiles_path(@tile.subtopic_id), class:"animated-border-button"%>
    <% else %>

<div id="topinfo">
      <h1 class="subheader"><%= @tile.subtopic.topic.title  %>: <%= @tile.subtopic.title  %></h1>
        <%=link_to 'Back to all tiles', subtopic_tiles_path(@tile.subtopic_id), class:"animated-border-button"%>
</div>
        <%= cl_image_tag @tile.photos[0].key, class:"show-card-image" %>
        <%# <div class="articlebox1"></div> %>

  <div class="text-div">
          <h1 id="art-title"> <%= @tile.title %> </h1>
          <br>
          <h5 id="art-summ"><%= @tile.summary %></h5>
          <br>
          <p id="art-cont"><%= @tile.content %></p>
    </div>

       <%=link_to 'Subscribe', tile_subscriptions_path(@tile), method: :post, class:"subscribe-btn"%>
   <% end %>


   </div>
</div>
