<div class="container topicscontainer">
  <div class="containerTitle ">
      <h2>Choose your sources, be inCharge!</h2>
    </div>
  <div class="image-mosaic">
    <div class="card-mosaic card-mosaic-tall card-mosaic-wide">
      <div class="card-mosaic-side front" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://cdn.mos.cms.futurecdn.net/FaWKMJQnr2PFcYCmEyfiTm.jpg')">
          <div>Create your own tile here!</div>
      </div>
      <div class="card-mosaic-side back" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://cdn.mos.cms.futurecdn.net/FaWKMJQnr2PFcYCmEyfiTm.jpg')">
        <div class="card-mosaic-text">
          <div class="container-sticky" id="tall">
            <dl class="sticky-stack" id="new-tile">
            <%= simple_form_for(@tile) do |f| %>
              <%= f.association :subtopic %>
              <%= f.select :language, Tile::LANG_CATEGORIES, prompt: 'Select Language' %>
              <%= f.select :country, Tile::COUNTRY_CATEGORIES, prompt: 'Select Country' %>
              <%= f.submit %>
            <% end %>
            </dl>
          </div>
        </div>
      </div>
    </div>

    <div class="card-mosaic card-mosaic-tall card-mosaic-flip">
      <div class="card-mosaic-side front" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://elements-video-cover-images-0.imgix.net/files/220512242/Preview.jpg?auto=compress&crop=edges&fit=crop&fm=jpeg&h=800&w=1200&s=3702b1eeb3ed39c89cbef83a0ec2e371')">
        <div><%= @topics[0].title %></div>
      </div>
      <div class="card-mosaic-side back" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://elements-video-cover-images-0.imgix.net/files/220512242/Preview.jpg?auto=compress&crop=edges&fit=crop&fm=jpeg&h=800&w=1200&s=3702b1eeb3ed39c89cbef83a0ec2e371')">
        <div class="card-mosaic-text">
          <div class="container-sticky" id="tall">
            <dl class="sticky-stack">
              <% @topics[0].subtopics.each do |subtopic| %>
                <dd id="span-id"><%= link_to "#{subtopic.title}", subtopic_tiles_path(subtopic), class:"sibling-fade" %></dd>
              <% end %>
            </dl>
          </div>
        </div>
      </div>
    </div>

    <div class="card-mosaic card-mosaic-flip">
      <div class="card-mosaic-side front" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://sport.ec.europa.eu/sites/default/files/styles/eac_ratio_16_9_large/public/sport-active-part-erasmus-plus-crop.jpg?h=5dabf909&itok=mbmqjnEE')">
        <div><%= @topics[2].title %></div>
      </div>
      <div class="card-mosaic-side back" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://sport.ec.europa.eu/sites/default/files/styles/eac_ratio_16_9_large/public/sport-active-part-erasmus-plus-crop.jpg?h=5dabf909&itok=mbmqjnEE')">
        <div class="card-mosaic-text">
          <div class="container-sticky">
            <dl class="sticky-stack">
              <% @topics[2].subtopics.each do |subtopic| %>
                  <dd id="span-id"><%= link_to "#{subtopic.title}", subtopic_tiles_path(subtopic), class:"sibling-fade" %></dd>
              <% end %>
            </dl>
          </div>
        </div>
      </div>
    </div>

    <div class="card-mosaic card-mosaic-flip">
      <div class="card-mosaic-side front" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://embassies.gov.il/MFA/AboutIsrael/FactsIsrael/culture-dance.jpg')">
        <div><%= @topics[3].title %></div>
      </div>
      <div class="card-mosaic-side back" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://embassies.gov.il/MFA/AboutIsrael/FactsIsrael/culture-dance.jpg')">
        <div class="card-mosaic-text">
          <div class="container-sticky">
            <dl class="sticky-stack">
              <% @topics[3].subtopics.each do |subtopic| %>
                  <dd id="span-id"><%= link_to "#{subtopic.title}", subtopic_tiles_path(subtopic), class:"sibling-fade" %></dd>
              <% end %>
            </dl>
          </div>
        </div>
      </div>
    </div>

    <div class="card-mosaic card-mosaic-flip">
      <div class="card-mosaic-side front" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://www.ejc.co.uk/what.we.do/images/EJC-Web.economy01_06.gif')">
        <div><%= @topics[4].title %></div>
      </div>
      <div class="card-mosaic-side back" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://www.ejc.co.uk/what.we.do/images/EJC-Web.economy01_06.gif')">
        <div class="card-mosaic-text">
          <div class="container-sticky">
            <dl class="sticky-stack">
              <% @topics[4].subtopics.each do |subtopic| %>
                <dd id="span-id"><%= link_to "#{subtopic.title}", subtopic_tiles_path(subtopic), class:"sibling-fade" %></dd>
              <% end %>
            </dl>
          </div>
        </div>
      </div>
    </div>

    <div class="card-mosaic card-mosaic card-mosaic-flip">
      <div class="card-mosaic-side front" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://picsum.photos/id/678/800/530')">
        <div><%= @topics[5].title %></div>
      </div>
      <div class="card-mosaic-side back" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://picsum.photos/id/678/800/530')">
        <div class="card-mosaic-text">
          <div class="container-sticky">
            <dl class="sticky-stack">
              <% @topics[5].subtopics.each do |subtopic| %>
                  <dd id="span-id"><%= link_to "#{subtopic.title}", subtopic_tiles_path(subtopic), class:"sibling-fade" %></dd>
              <% end %>
            </dl>
          </div>
        </div>
      </div>
    </div>

    <div class="card-mosaic card-mosaic-wide card-mosaic-flip">
      <div class="card-mosaic-side front" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://www.homespakistan.com/blog/wp-content/uploads/2019/10/RealEstate.jpg')">
        <div><%= @topics[6].title %></div>
      </div>
      <div class="card-mosaic-side back" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://www.homespakistan.com/blog/wp-content/uploads/2019/10/RealEstate.jpg')">
        <div class="card-mosaic-text">
          <div class="container-sticky">
            <dl class="sticky-stack">
              <% @topics[6].subtopics.each do |subtopic| %>
                  <dd id="span-id"><%= link_to "#{subtopic.title}", subtopic_tiles_path(subtopic), class:"sibling-fade" %></dd>
              <% end %>
            </dl>
          </div>
        </div>
      </div>
    </div>

    <div class="card-mosaic card-mosaic card-mosaic-flip">
      <div class="card-mosaic-side front" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://picsum.photos/id/683/800/530')">
        <div><%= @topics[7].title %></div>
      </div>
      <div class="card-mosaic-side back" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://picsum.photos/id/683/800/530')">
        <div class="card-mosaic-text">
          <div class="container-sticky">
            <dl class="sticky-stack">
              <% @topics[7].subtopics.each do |subtopic| %>
                  <dd id="span-id"><%= link_to "#{subtopic.title}", subtopic_tiles_path(subtopic), class:"sibling-fade" %></dd>
              <% end %>
             </dl>
          </div>
        </div>
      </div>
    </div>

    <div class="card-mosaic card-mosaic-wide card-mosaic-flip">
      <div class="card-mosaic-side front" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://www.cdc.gov/healthypets/images/slider/dog-and-cat.jpg')">
        <div><%= @topics[8].title %></div>
      </div>
      <div class="card-mosaic-side back" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://www.cdc.gov/healthypets/images/slider/dog-and-cat.jpg')">
        <div class="card-mosaic-text">
          <div class="container-sticky">
            <dl class="sticky-stack">
              <% @topics[8].subtopics.each do |subtopic| %>
                  <dd id="span-id"><%= link_to "#{subtopic.title}", subtopic_tiles_path(subtopic), class:"sibling-fade" %></dd>
              <% end %>
             </dl>
          </div>
        </div>
      </div>
    </div>
</div>
