<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to "/", class: "navbar-brand" do %>
      <img src="https://freesvg.org/img/logo-lightning.png" />
    <% end %>



    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
         <div class="searchrow">
                  <div class="navbar-search" id="search">

              <%= form_tag topics_path, method: :get do %>
                <%= text_field_tag :query,
                  params[:query],
                  class: "form-control",
                  placeholder: "inCharge focused search ..."
                %>
              <%= submit_tag "Go", class: "btn btn-dark" %>
              <% end %>
          </div>
          </div>
        <h2 id= "navbar-greeting"><%= link_to "your top stories today", subscriptions_path%></h1>
          <li class="nav-item dropdown">
            <%= image_tag "https://avatars.githubusercontent.com/u/95916189?v=4", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Home", root_path, id: "home-link", class: "dropdown-item" %>
              <%= link_to "Dashboard", subscriptions_path, id: "nav-link", class: "dropdown-item" %>
              <%= link_to "Topics", topics_path, id: "nav-link", class: "dropdown-item"%>
              <%= link_to "My Account", profile_path, id: "nav-link", class: "dropdown-item"%>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "btn btn-outline-secondary" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
