<div class="parent" data-controller="sortable-tiles" data-sortable-tiles-target="tilepage">


  <% @subscriptions.each_with_index do |subscription, index| %>

  <div class="card-img topicsCard topicsCard-<%=index%>" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= cl_image_path subscription.tile.photos[0].key%>);">
   <p class="topic-indicator"><%= subscription.tile.subtopic.title %></p>
    <h2><%= link_to subscription.tile.title, subscription_path(subscription) %></h2>
    <h3><%#= subscription.tile.summary %></h3>
      <%#= cl_image_tag subscription.tile.photos[1].key %>

        <small class="Unsubscribe"><%= link_to "Unsubscribe", subscription_path(subscription), method: :delete, data: { confirm: "Click OK to unsubscribe and pick a new topic for your feed!" }, class: "btn btn-ghost" %></small>
        <%# <small class="read-more"><%= link_to "Read More", subscription_path(subscription), method: :get, class: "btn btn-ghost" %></small>
    </div>

     <% end %>


        <div class="five-min filtered">
  <h3 class="five-min-header">5 MIN READ</h3>
  <div class="line1"></div>
</div>

     <div class="line2 filtered" ></div>

<div class="weather-box filtered">
 <div class="container weather-container" data-controller="weather" data-weather-openweather-api-key-value="<%= ENV["OPENWEATHER_API_KEY"] %>">
 <div class="row">
   <form class="d-flex my-5" data-action="submit->weather#fetchWeather">
                <input type="text" placeholder="Enter city" class="form-control flex-grow-1" data-weather-target="input">
                <a href="" class="position" data-action="click->weather#fetchWeatherByCoordinates"><i class="bi bi-geo-alt"></i></a>
                <input type="submit" value="Search" class="btn btn-primary ms-3 btnWeather">
              </form>
    </div>
     <div class="row">
      <h3 class="text-secondary" data-weather-target="date"></h3>
      <p data-weather-target="description"></p>
      </div>

       <div class="row">

      <div class="d-flex">
        <img class="d-none" src="" alt="Weather Icon" data-weather-target="icon">
         <h2 data-weather-target="temperature"><!-- TODO: TEMPERATURE --></h2>
      </div>
    </div>

</div>
</div>


<div id="box1"></div>
<div id="box2"></div>

</div>
