<div class="container">
  <div class="container-tiles-page">
    <div class="container-tile-title row">
      <% if @subscription.tile.nil? %>
        <div class="col-6">
          <h1 class="subheader">Content coming soon ...</h1>
        </div>
        <div class="col-6 buttons">
          <%=link_to 'Back to all subscriptions', subscriptions_path(@subscription.tile.subtopic_id), class:"animated-border-button"%>
        </div>
      <% else %>
        <div class="col-6">
          <h1 class="subheader"><%= @subscription.tile.subtopic.topic.title  %>: <%= @subscription.tile.subtopic.title  %></h1>
        </div>
        <div class="col-6 buttons">
          <%=link_to 'Back to all subscriptions', subscriptions_path(@subscription.tile.subtopic_id), class:"animated-border-button"%>
        </div>
      </div>
      <div class="container">
        <div class="container-tile-card">
        <div class="row">
          <div class="col-12">
            <div class="tile-card">
              <div class="tile-card-image col-6">
                <%= cl_image_tag @subscription.tile.photos[0].key, class:"show-card-image" %>
              </div>
              <div class="tile-card-text col-6 ">
                <h1> <%= @subscription.tile.title %> </h1>
                <h5><%= @subscription.tile.summary %></h5>
                <p><%= @subscription.tile.content %></p>
              </div>
            </div>
          </div>
        </div>
        </div>
        <div class="row">
          <div class="col-12">
          <hr>
            <div class="center-btn">
              <%= link_to "Unsubscribe", subscription_path(@subscription.id), method: :delete, data: { confirm: "Click OK to unsubscribe and pick a new topic for your feed!" }, class:"btn btn-success subscribe-btn" %></small>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
