<div class="article-container">
  <div class="article-layout">

      <% if @subscription.tile.nil? %>
          <h1 class="subheader">Content coming soon ...</h1>
          <%=link_to 'Back to all subscriptions', subscriptions_path(@subscription.tile.subtopic_id), class:"animated-border-button"%>
      <% else %>

      <div id="topinfo">
          <h1 class="subheader"><%= @subscription.tile.subtopic.topic.title  %>: <%= @subscription.tile.subtopic.title  %></h1>
          <%=link_to 'Back to all subscriptions', subscriptions_path(@subscription.tile.subtopic_id), class:"animated-border-button"%>
      </div>
                <%= cl_image_tag @subscription.tile.photos[0].key, class:"show-card-image" %>

<div class="text-div">
                <h1 id="art-title"> <%= @subscription.tile.title %> </h1>
                <br>
                <h5 id="art-summ"><%= @subscription.tile.summary %></h5>
                <br>
                <p id="art-cont"><%= @subscription.tile.content %></p>
</div>
              <%= link_to "Unsubscribe", subscription_path(@subscription.id), method: :delete, data: { confirm: "Click OK to unsubscribe and pick a new topic for your feed!" }, class:"btn btn-success subscribe-btn" %></small>

      <% end %>
    </div>
 </div>
